{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

 
<div id="blocCreate">
    <h2>Selectionner une collection existante</h2>

    <select class="form-control" data-live-search="true" id="selectCollection" >
    {% for article in articles %}
    <option value="{{ article.id }}">{{ article.title }}</option>

    {% endfor %}
    </select>

    <button type="submit" class="btn btn-success">Ajouter la collection</button>

    <hr>
    <h2>Ou ajouter une nouvelle collection</h2>

    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de la collection"}}) }}
    {{ form_row(formArticle.category) }}
    {{ form_row(formArticle.content, {'attr': {'placeholder': "Histoire de la collection"}}) }}
    <div id="imageArticle">
    {{ form_widget(formArticle.imageFile, {'attr': {'placeholder': "Image de la collection"}}) }}
    </div>

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer
        {% else %}
            Ajouter la collection
        {% endif %}    
    </button>
</div>
    {{ form_end(formArticle) }}

{% endblock %}    