{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/book.css') }}">
 {% endblock %}

{% block body %}

{% for message in app.flashes('message') %}

  <div class="alert alert-warning" role="alert">
  {{ message }}
  </div>

{% endfor %}

<h1 id='titleCollect'>Ma Mangathèque</h1>


<div class="niveau">
    <div class="bloc_etagere">
    {% for manga in mangas %}
    
        <div class="book_collect"><img src="{{ vich_uploader_asset(manga, 'imageFile') }}" alt="" id="image_new">
        <button type="button" class="btn btn-primary" id="button_manga1"><a href="{{ path('article_delete', {'id':manga.id}) }}" class="button">Supprimer</a></button>
        </div>
      
    {% endfor %}
    </div>
</div>



<div id="button_collectAdd">
<button type="submit" class="btn btn-success"><a class="nav-link" href="{{ path('create_manga') }}">Ajouter un manga</a></button>
</div>

{% endblock %} 